@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    direction: rtl;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background: #211d42;*/
    font-family: "Ubuntu", "Noto Naskh Arabic";
}

body {
    transition: 0.5s;
}

body.dark-mode {
    background: #1d1a39;
}

header {
    padding: 30px, 5%;
    position: sticky;
    top: 0px;
    left: 0px;
    width: 99%;
    padding: 30px 100px;
    background: rgb(45, 51, 73);
    display: flex;
    align-items: center;
    z-index: 99;
    justify-content: center;
    margin : 0.5% 0.5% 0.5% 0.5%;
    border-radius: 8px;
    transition: 0.5s;
}

#theme-button {
    color: #e7f5ff;
    margin-left: 5%;
    margin-right: auto;
    cursor: pointer;
    width: 40px;
    transform: scaleX(-1);
    transition: 0.5s;
}

.logo {
    font-size: 30px;
    color: #e7f5ff;
    text-decoration: none;
    font-weight: 800;
    background: rgba(21, 27, 48, 0);
    cursor: pointer;
}

/* nav {
    display: flex;
    align-items: center;
    margin-left: -5%;
    background: rgba(21, 27, 48, 0);
}

nav a {
    background: rgba(21, 27, 48, 0);
    text-align: center;
    color: #e7f5ff;
    text-decoration: none;
    margin-left: 40px;
    transition: 0.5s;
    cursor: pointer;
    font-weight: 900;
    font-size: 20px;
    
}

nav a:hover {
    color: #b15dc2;
}
 */


body.dark-mode .student-button:hover {
    color: #b15dc2;
}

.student-button:hover {
    color: #b15dc2;
}

.studentlist {
    
}

.student-details {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

table {
    margin-right: 0.5%;
    width: 99%;
    /* border-spacing: 0 0.5em; */
    border-spacing: 4px;
    table-layout: fixed;
}

th, td, tr {
    position: relative;
    max-width: 150px;
    white-space: nowrap;
    /* text-overflow:clip; */
    border-radius: 0px;
    text-align: center;
    height: 50px;
    vertical-align: middle;
    transition: 0.5s;
    font-size: 100%;
    /* overflow: hidden; */
    font-weight: 900;
}

.description {
    border-radius: 8px 0px 0px 8px;
}

.studentlist {
    margin-right: 0.3%;
}

#rankone > * {
    /* margin-right: 0.5%; */
    height: 150px;
    background: #f6dc5b;
    /* width: 99%; */
}

body.dark-mode #rankone > * {
    background: #e9c928;
}

#ranktwo {
    height: 125px;
}

#ranktwo > * {
    background: #f6b544;
}

body.dark-mode #ranktwo > * {
    background: #df9619;
}

#rankthree > * {
    background: #f46b66;
    height: 80px;
}

body.dark-mode #rankthree > * {
    background: #dd423d;
}

#unranked {
    height: 100px;
}

#unrankedlol > * {
    background: #b9d4e8;
}

body.dark-mode #unrankedlol > * {
    background: #74acd5;
}

.rankmedal {
    width: 5%;
    border-radius: 0px 8px 8px 0px;
}

.name {
    font-size: 130%;
    font-weight: 900;
    width: 8%;
    border-radius: 0px 0px 0px 0px;
}

th {
    background: #dc94eb;
}

body.dark-mode th {
    background: #b15dc2;
}

td {
    background: #b9d4e8;
}

body.dark-mode td {
    background: #74acd5;
}

body.dark-mode .student-button {
    color: #e7f5ff;
}

.arrow {
    transition: 0.3s;
    transform: rotate(90deg);
    display: inline-block;
}

.arrow.rotate {
    transform: rotate(0deg);
}

a > img {
    width: 1.5%;
}

.overallscore {
    border-radius: 0px 0px 0px 0px;
    width: 3%;
}

.poudmangradeb {
    width: 5%;
    border-radius: 8px 0px 0px 8px;
}

.id {
    border-radius: 0px 8px 8px 0px;
}

#explainer > .name, #explainer > .overallscore, #explainer > .rankmedal {
    font-weight: 900;
    font-size: 20px;
}

.firstproject, .secondproject, .thirdproject,
.fourthproject, .fifthproject, .sixthproject,
.seventhproject, .eigthproject, .ninethproject,
.tenthproject, .eleventhproject, .twelvethproject,
.thirteenthproject, .fourteenthproject, .poudmangradeb {
    position:relative;
    width: 2.5%;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    left: 110%;
    bottom: calc(2.5%);
    /* transform: translateX(0%); */
    background: rgba(36, 36, 43, 0.5);
    backdrop-filter: blur(10px);
    color: #eae5f5;
    z-index: 100;
    opacity: 0;
    transition: 0.2s;
    border-radius: 8px;
    white-space: normal;
    padding: 5px 10px;
    width: 600%;
}

body.dark-mode .tooltip {
    background: rgba(204, 227, 236, 0.5);
    color: #1b1a1d;
}

td:hover > .tooltip {
    opacity: 1;
    visibility: visible;
}

@media only screen and (max-width: 600px) {
    .firstproject, .secondproject, .thirdproject,
    .fourthproject, .fifthproject, .sixthproject,
    .seventhproject, .eigthproject, .ninethproject,
    .tenthproject, .eleventhproject, .twelvethproject,
    .thirteenthproject, .fourteenthproject, .poudmangradeb {
    display: none;
    }

    .logo {
        font-size: 150%;
        color: #e7f5ff;
        text-decoration: none;
        font-weight: 800;
        background: rgba(21, 27, 48, 0);
        cursor: pointer;
    }

    #theme-button {
        color: #e7f5ff;
        margin-left: 0%;
        
        cursor: pointer;
        width: 35px;
        transform: scaleX(-1);
        transition: 0.5s;
    }
    

    header {
        padding: 30px, 5%;
        position: sticky;
        top: 0px;
        left: 0px;
        width: 99%;
        padding: 30px 20px;
        background: rgb(45, 51, 73);
        display: flex;
        align-items: center;
        z-index: 99;
        justify-content: center;
        margin : 0.5% 0.5% 0.5% 0.5%;
        border-radius: 8px;
        transition: 0.5s;
    }

    .rankmedal, .name, .overallscore {
        width: 100%;
    }

    .rankmedal {
        width: 50%;
    }

    .overallscore {
        width: 45%;
        border-radius: 8px 0px 0px 8px;
    }

    #rankone > * {
        height: 80px;
    }
    #ranktwo {
        height: 70px;
    }
    #rankthree > * {
        height: 60px;
    }
}
